/* @font-face {
  font-family: Gilroy-bold;
  src: url(../../assets/font/Gilroy-Bold.ttf);
} */
.want-foot {
  font-family: Gilroy-bold;
}
.footer {
    background-color: rgb(3, 3, 81);
  color: white;
  padding: 5rem 3.5rem;
}

.top-footer {
  font-size: 20px;
  width: 350px;
  margin-bottom: 30px;
}

.middle-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.middle-footer-text {
  width: 506px;
}
.middle-footer-icon {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  cursor: pointer;
}

.bottom-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom-footer-text {
  width: 406px;
  font-size: small;
}
.bottom-footer-icon {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.middle-footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}

.middle-footer-icons:hover {
  scale: 1.1;
  transition: all 0.2s;
}

@media (max-width: 780px) {
  .footer {
    padding: 3.5rem 3.5rem;
  }
  .middle-footer-text {
    width: 400px;
  }
  .middle-footer {
    flex-direction: column;
  }
  .bottom-footer {
    flex-direction: column;
  }
  .bottom-footer-icon {
    margin: auto;
  }
}

@media (max-width: 500px) {
  .footer {
    text-align: center;
  }
  .top-footer {
    margin: auto;
    font-size: 18px;
  }
  .middle-footer-text {
    margin: auto;
    width: 320px;
    margin: 20px 0;
  }
  .middle-footer-icon {
    margin: auto;
    margin: 20px 0;
  }
  .bottom-footer-text {
    margin: auto;
    width: 300px;
    margin: 20px 0;
  }
}
@media (max-width: 408px) {
  .footer {
    text-align: center;
  }
  .top-footer {
    margin: auto;
    width: 200px;
    font-size: 15px;
    margin-bottom: 20px;
  }
  .middle-footer-text {
    margin: auto;
    width: 220px;
    margin-bottom: 20px;
  }
  .middle-footer-icon {
    margin: auto;
    margin-bottom: 20px;
  }
  .bottom-footer-text {
    margin: auto;
    width: 200px;
    margin-bottom: 20px;
  }
}
