.navbar-full{
    position:sticky;
    z-index: 100;
    top: 0;
    width: 100%;
    overflow: hidden;
}
.logo-img{
    height: 60px;
}
.nav-item{
    font-size: 1.1rem;
}
.navbar-collapse{
    text-align: center;
}
.nav-link{
    color: rgb(3, 3, 81);
    font-weight: 600;
}
.nav-link:hover{
    font-weight: 700;
    transition: all 1s;
}
.nav-button{
    background-color: rgb(3, 3, 81);
    color: whitesmoke;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 200px;
}
.nav-button:hover{
    background-color: whitesmoke;
    color: rgb(3, 3, 81);
    transition: all 0.5s;
    border: 1px solid rgb(3, 3, 81);
}
@media(max-width:500px){
.logo-img{
    height: 40px;
}
}